SECRET_KEY= 2nuoqhl1#17uw!b!plhmo(sp3055k(p)uzwebli@m21a5i3&p*

DEBUG=

DATABASE_NAME= 'django2'
DATABASE_USER= 'postgres'
DATABASE_HOST= '127.0.0.1'
DATABASE_PORT= '5432'
DATABASE_PASSWORD= '190573'

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=

CACHE_ENABLED=
CACHE_LOCATION=