{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include 'mailing/includes/inc_main_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ title }}</h1>
</div>
<div class="container">
    <div class="col-12">
        <div class="col-xs-24 col-md-12">
            <table class="table table-striped auto__table text-left">
                <tbody>
                <tr>
                    <td colspan="2">Количество рассылок всего:</td>
                    <td colspan="2">{{ mailing_count }}</td>
                </tr>
                <tr>
                    <td colspan="2">Количество активных рассылок:</td>
                    <td colspan="2">{{ active_mailing_count }}</td>
                </tr>
                <tr>
                    <td colspan="2">Количество уникальных клиентов для рассылок:</td>
                    <td colspan="2">{{ count_unique_mailing_client }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container">
    <div class="row text-center">
        {% for object in blog_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">{{ object.title }}</h2>
                </div>
                <div class="card-body">
                    <h6 class="card-title pricing-card-title">{{ object.created_at }}</h6>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.text|slice:100 }}</li>
                    </ul>
                    <a href="{% url 'blog:article' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">Читать</a>
                </div>
                <div class="card-footer">
                    Просмотры: {{ object.views_count }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% block content %}
{% endblock %}

<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                Почтальон
                <small class="d-block mb-3 text-muted">&copy; 2024 - {% now 'Y' %}</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    {% if user.is_authenticated %}
                    <li><a class="text-muted" href="{% url 'mailing:clients' %}">Клиенты</a></li>
                    <li><a class="text-muted" href="{% url 'mailing:messages' %}">Сообщения</a></li>
                    <li><a class="text-muted" href="{% url 'mailing:mailings' %}">Рассылки</a></li>
                    <li><a class="text-muted" href="{% url 'mailing:logs' %}">Логи</a></li>
                    {% else %}
                    <li><a class="text-muted" href="{% url 'users:register' %}">Зарегистрироваться</a></li>
                    <li><a class="text-muted" href="{% url 'users:login' %}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'blog:list' %}">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'mailing:contacts' %}">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
</body>
</html>