{% extends 'mailing/home.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
    <p class="lead">Информация клиента</p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-6 d-flex h-100 p-3 mx-auto flex-column">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h2 class="my-0 font-weight-normal">{{ object.first_name }}</h2>
            <h2 class="my-0 font-weight-normal">{{ object.last_name }}</h2>
            <h6 class="card-title pricing-card-title">{{ object.email }}</h6>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li><b>Комментарий:</b> {{ object.comment }}</li>
            </ul>
        </div>
        <div class="card-footer">
            {% if request.user == object.user %}
            <div class="btn-group">
                <a href="{% url 'mailing:client_update' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Редактировать</a>
                <a href="{% url 'mailing:client_delete' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-danger">Удалить</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
    </div>
</div>
{% endblock %}