{% extends 'mailing/home.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
    <p class="lead">Список рассылок</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h6 class="my-0 font-weight-normal"><b>Время первой отправки:</b> {{ object.time }}</h6>
                    <h6 class="my-0 font-weight-normal"><b>Периодичность отправки:</b> {{ object.periodicity }}</h6>
                    <h6 class="my-0 font-weight-normal"><b>Статус отправки:</b> {{ object.status }}</h6>
                    <br>
                    <h6 class="my-0 font-weight-normal"><b>Текст сообщения:</b> {{ object.message|slice:50 }}</h6>
                    <br>
                    <a href="{% url 'mailing:mailing' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Посмотреть</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}