{% extends 'mailing/home.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-6 d-flex h-100 p-3 mx-auto flex-column">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <h2 class="my-0 font-weight-normal">{{ object.theme }}</h2>
            <br>
            <h6 class="card-title pricing-card-title">{{ object.message }}</h6>
        </div>
        <div class="card-footer">
            {% if request.user == object.user %}
            <div class="btn-group">
                <a href="{% url 'mailing:message_update' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-secondary">Редактировать</a>
                <a href="{% url 'mailing:message_delete' object.pk %}" type="button"
                   class="btn btn-sm btn-outline-danger">Удалить</a>
            </div>
            {% enif %}
        </div>
    </div>
</div>
    </div>
</div>
{% endblock %}