{% extends 'mailing/home.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
    <p class="lead">Список сообщений</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <a class="btn btn-outline-primary" href="{% url 'mailing:message_create' %}">Добавить сообщение</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">{{ object.theme }}</h2>
                    <br>
                    <h6 class="my-0 font-weight-normal">{{ object.message|slice:50 }}</h6>
                    <br>
                    <a href="{% url 'mailing:message' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Посмотреть</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}