{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipath/from-data">
                <div class="card">
                    <p class="card-text">Действительно хотите удалить? {{ object.title }}</p>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Удалить
                    </button>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:blog_list' %}">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}