{% extends 'catalog/base.html'%}
{% block context %}
<table class="table table-striped">
    <thead>
    <tr>
        <td>
            Блог
        </td>
        <td>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            Название:
        </td>
        <td>
            {{ object.title }}
        </td>
    </tr>
    <tr>
        <td>
            Описание:
        </td>
        <td>
            {{ object.body }}
        </td>
    </tr>
    <tr>
        <td>
            Просмотры:
        </td>
        <td>
            {{object.count_view}}
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}