<footer class="text-muted">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="text-start">
                    <a href="/{{ project_name }}/">Вернуться в {{ project_name }}</a>
                </div>
            </div>
            <div class="col-auto">
                <div class="text-start">
                    <p class="mb-1">&copy; {% now 'Y' %}</p>
                </div>
            </div>
        </div>
    </div>
</footer>