{% extends "catalog/base.html" %}

{% block context %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-12">
            <div class="card-title">
                <h2>Авторизация</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {% for f in form %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Войти</button>
                    <p><a href="{% url 'users:password_reset_form' %}">Забыли пароль?</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}