{% extends 'catalog/base.html' %}

{% block context %}

<h3>Новый пароль</h3>
<h4>Сгенерировать случайный пароль?</h4>
{% load static %}
{% load generate_password %}

<p>Этот пароль будет использоваться для входа в систему:</p>


<input type="text"  class="form-input" placeholder="Генерирование пароля" disabled readonly value="{% get_random_password %}">
<a href="{% url 'users:login' %}" class="btn btn-primary btn-sm active">Генерирование пароля</a>

<br>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <p>
        <button type="submit">Сохранить</button>
    </p>
</form>

{% endblock %}