{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <title> {{ title }} </title>
</head>
<body>
{% include 'catalog/includes/header.html' %}

{% block context %}
{% endblock %}


{% include 'catalog/includes/footer.html' %}

</body>
</html>
</body>
</html>