{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

{% if user.is_authenticated %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Создать продукт</a>
    </nav>
</div>
{% endif %}

<div class="container">
    <div class="row text-center">
{% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <img src="{{ product.image | media_filter }}">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{product.price}} p.</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ product.description | truncatechars }}</li>
                    </ul>
                    <p>Активная версия: {{ product.active_version }}</p>

                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Просмотр</a>
                    {% if perms.catalog.can_canceled_public and perms.catalog.can_edit_category and perms.catalog.can_edit_desk or user == product.owner %}
                    <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}" role="button">Редактировать</a>
                    {% endif %}
                </div>
            </div>
        </div>
{% endfor %}
    </div>
 </div>
{% endblock %}