{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-10">
            <div class="card mb-4 box-shadow">
                <img src="{{ product.image | media_filter }}">
                <div class="card-body">
                    <h1 class="my-0 font-weight-normal">{{object.name}}</h1>
                    <h4 class="card-title pricing-card-title">{{object.price}} p.</h4>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{object.description}}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}