{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <form method="post" class="row" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {% if object %}
                    Редактирование продукта
                    {% else %}
                    Добавление продукта
                    {% endif %}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-success">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Добавить
                        {% endif %}
                    </button>

                </div>
            </div>
        </div>
        {% if object %}
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Внести версию продукта
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-success">
                        Сохранить
                    </button>

                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}